IDI_ICON1 ICON DISCARDABLE "db_ic.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,1
PRODUCTVERSION 1,0,0,1
BEGIN
     BLOCK "StringFileInfo"
     BEGIN
     BLOCK "040904E4"
     BEGIN
          VALUE "CompanyName",     "Zelenskiy Co."
          VALUE "LegalCopyright",  "Zelenskiy Vladislav"
          VALUE "FileDescription", "A simple database editor using the database SQLite3"
          VALUE "FileVersion",     "1.0.0.1"
          VALUE "ProductName",     "SQLite3 editor"
          VALUE "ProductVersion",  "1.0.0.1"
     END
     END

BLOCK "VarFileInfo"
       BEGIN
           VALUE "Translation", 0x409, 1259
       END
END
